{% extends 'base.html' %}
{% load mytags %}
{% load bootstrap %}
{% block content %}
{% include 'nav_cat_bar.html' %}
<link rel="stylesheet" href="/static/AdminLTE.min.css">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div id="ibox-content" class="ibox-title">
                    <h5> 批量发布 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="panel blank-panel">

                        <div class="panel-body">
                            <div class="tab-content">
                                <div id="tab-1" class="ibox float-e-margins tab-pane active">
                                    {% if error %}
                                        <div class="alert alert-warning text-center">{{ error }}</div>
                                    {% endif %}
                                    {% if msg %}
                                        <div class="alert alert-success text-center">{{ msg }}</div>
                                    {% endif %}



<!--adminlte -->

    <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>发布AAA</h3>


            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="javascript:void(0);" onclick="deploy_all_AAA()" class="small-box-footer">blue <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>发布BBB</h3>


            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="javascript:void(0);" onclick="deploy_all_BBB()" class="small-box-footer">green <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->



<!-- nginx-->

        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>nginx_to_AAA</h3>


            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">blue <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>nginx_to_BBB</h3>


            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">green <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->


      </div>



                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block self_footer_js %}
<script>

    function clone_env() {

        $.post("/envmanage/envmanage_clone/",
          {
            oldenv:$('#oldenv').val(),
            newenv:$('#newenv').val()
          },
          function(mystatus){
            alert(mystatus);
          });

		}



    $('document').ready(function(){
        var check_default = "{{ default_setting.name }}";
        console.log(check_default);
        if (check_default != 'default'){
            $('#id_use_default_auth').attr('disabled', true);
            $('#id_use_default_auth').attr('checked', false);
            $('#admin_account').css('display', 'block');
        } else {
            $('#id_use_default_auth').click(function(){
                if ($(this).is(':checked')){
                    $('#admin_account').css('display', 'none');
                }
                else {
                    $('#admin_account').css('display', 'block');
                }
            })
        }

    });

    var required_fields = ["id_hostname", "id_port"];
    required_fields.forEach(function(field) {
        $('label[for="' + field + '"]').parent().addClass("required");
    });

    $('#envmanage_clone').validator({
        timely: 2,
        theme: "yellow_right_effect",
        rules: {
            check_ip: [/^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])(\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])){3}$/, 'ip地址不正确'],
            check_port: [/^\d{1,5}$/, '端口号不正确'],
            use_default_auth: function() {
                var str1 = $("#id_use_default_auth").is(":checked");
                if (str1 == true){
                    var decide = false;
                } else {
                    var decide = true;
                }
                return decide}
        },
        fields: {
            "ip": {
                rule: "check_ip;",
                tip: "输入IP",
                ok: "",
                msg: {required: "必须填写!"}
            },
            "hostname": {
                rule: "required;length[0~53]",
                tip: "填写主机名",
                ok: "",
                msg: {required: "必须填写!"}
            },
            "port": {
                rule: "required",
                tip: "输入端口号",
                ok: "",
                msg: {required: "必须填写!"}
            },
            "oldenv": {
                rule: "required(use_default_auth)",
                tip: "被克隆的环境",
                ok: "",
                msg: {required: "必须填写!"}
            },
            "newenv": {
                rule: "required(use_default_auth);length[0~64]",
                tip: "新环境名",
                ok: "",
                msg: {required: "必须填写!"}
            }
        },
        valid: function(form) {
            form.submit();
        }
    });





function addRow() {
    $("#rowTable").append("<tr><td><input type=\"text\" name=\"qiantu\" class=\"form-control\"/></td><td><div style=\"cursor: pointer\" onclick=\"addRow();\">＋</div></td><td style=\"cursor: pointer\" onclick=\"delRow(this);\">一</td></tr>");
}

function delRow(entity) {
    $(entity).parent().remove();
}

function deploy_all_AAA() {
    $.post("/deploy/deploy_all/",{env:"xiasha_AAA_"},function(result){
    alert(result);
  });
}

function deploy_all_BBB() {
    $.post("/deploy/deploy_all/",{env:"xiasha_BBB_"},function(result){
    alert(result);
  });
}

</script>

{% endblock %}