<h2 align="center">nginx pvuv统计</h2>

    <div>
        <div id="container" style="height: 400px; min-width: 310px"></div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
 <script src="/static/highstock/highstock.js"></script>
<script src="/static/highstock/exporting.js"></script>


		<script type="text/javascript">

var seriesOptions = [],
    seriesCounter = 0,
    names = ['nginx01_pv', 'nginx02_pv','nginx01_uv','nginx02_pv'];

/**
 * Create the chart when all data is loaded
 * @returns {undefined}
 */
function createChart() {

    Highcharts.stockChart('container', {

        rangeSelector: {
            selected: 4
        },

        yAxis: {
            labels: {
                formatter: function () {
                    return (this.value > 0 ? ' + ' : '') + this.value + '%';
                }
            },
            plotLines: [{
                value: 0,
                width: 2,
                color: 'silver'
            }]
        },

        plotOptions: {
            series: {
                compare: 'percent',
                showInNavigator: true
            }
        },

        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
            valueDecimals: 2,
            split: true
        },

        series: seriesOptions
    });
}

$.each(names, function (i, name) {

    $.getJSON('/cachemanage/nginxdata?nginx_host=' + name.toLowerCase() + '&callback=?',    function (data) {

        seriesOptions[i] = {
            name: name,
            data: data
        };
		console.log(data)
        // As we're loading the data asynchronously, we don't know what order it will arrive. So
        // we keep a counter and create the chart when all the data is loaded.
        seriesCounter += 1;

        if (seriesCounter === names.length) {
            createChart();
        }
    });
});
		</script>